@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #2D283E;
  color: #D1D7E0;
}

/* Scrollbar styling for the specific dark theme */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2D283E; 
}

::-webkit-scrollbar-thumb {
  background: #564F6F; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #802BB1; 
}
